# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
#if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
#  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
#fi

bindkey -v
setopt interactivecomments

export LANG=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8
export CLICOLOR=1

echo "Setting fpath"
fpath=($HOME/.config/share/zsh-completions $fpath)
if type brew >/dev/null; then
  echo "Adding brew stuff to fpath"
  fpath=($(brew --prefix)/share/zsh-completions $fpath)
  fpath=($(brew --prefix)/share/zsh/site-functions $fpath)
fi

echo "running compinit"
autoload -Uz compinit && compinit

#source /usr/local/share/antigen/antigen.zsh
# test -x $HOME/.antibody_plugins.sh || antibody bundle < $HOME/.antibody_plugins.txt > $HOME/.antibody_plugins.sh
# source $HOME/.antibody_plugins.sh
source ${ZDOTDIR:-~}/antidote/antidote.zsh
antidote load

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ${ZDOTDIR:-~}/.p10k.zsh ]] || source ${ZDOTDIR:-~}/.p10k.zsh

fpath=(/usr/local/share/zsh-completions $fpath)

## local third party additions
init_dir="${ZDOTDIR:-~}/init.d"
if [ -d $init_dir ]; then
  for init_script in ${init_dir}/*.zsh; do
    source $init_script
  done
fi

## editor, prefer nvim / vimr if found on the path, fall back to vim / gvim
EDITOR=vim && [ -x $(command -v nvim) ] && EDITOR=nvim
VISUAL=gvim && [ -x $(command -v vimr) ] && VISUAL=vimr

## User bin preceeds all if exists
if [ -d "${HOME}/bin" ]; then
    export PATH=~/bin:"$PATH"
fi

## iterm2 integration, should be last lines
[[ ! -f ${ZDOTDIR:-~}/.iterm2_shell_integration.zsh ]] || source ${ZDOTDIR:-~}/.iterm2_shell_integration.zsh
